.container{
  display: flex;
}

.tree-node {
  margin: 8px 0;
  padding-left: 24px;
}
.tree-node:first-of-type  {
  padding-left: 0px;
}

.name{
  font-size: 14px;
  color: #17192D;
  margin-left: 4px;
}

.toggle-icon{
  cursor: pointer;
  margin-right: 10px;  
  background: none;
  border: none;
  padding: 0;
}

.toggle-icon:focus{
  outline: none;  
}
