.company-page{
  padding: 16px;  
  background: #FFF;
  height: 85vh;
}

.company-page-filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex{
  display: flex;
  align-items: center;
}