.container-tree-view{
  display: flex;
  flex: 1;
}
.tree-view {
  margin: 0;
  padding: 16px;
  list-style: none;
  width: 40vw;
}
.details-panel{
  width: 60vw;
  border: 1px solid #D8DFE6;
}

.filter-and-tree{  
  border: 1px solid #D8DFE6;
}