.navbar {
  background-color: #17192D;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 12px;
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-link {
  background-color: #023B78;
  color: #FFF;
  padding: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-link.active {
  background-color: #2188FF;
}
