body {
  padding: 8px;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight:400;
  font-style: normal;
  background-color:#E3EAEF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  padding: 12px;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
}
button{  
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon{
  margin-right: 4px;
}
.isTreeView{
  padding-left: 24px;
}
.icon-right{
  margin-left: 4px;
}