body {
  padding: 8px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color:#E3EAEF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  padding: 12px;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
}
button{  
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon{
  margin-right: 4px;
}
.icon-right{
  margin-left: 4px;
}