body {
  margin: 12px;
}

.toggle-icon{
  cursor: pointer;
  background-color: transparent;
  margin-right: 10px;
}

.toggle-icon:focus{
  outline: 2px solid blue;
}

input {
  padding: 10px;
  font-size: 24px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.icon{
  margin-right: 4px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
